@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('./_fonts/cabinetgrotesk/css/cabinet-grotesk.css'); */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.widget  .widgetform  .ant-form-item {
  margin-bottom: 8px !important;
}

.widgetdrag .ant-upload-drag{
  background: #fff !important;
  border: 1px solid #D0D5DD !important;
  }